.container{
    display: flex;
    background: #3C3636;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContainer{
    display: flex;
    background: rgb(75, 74, 74);
    height: 70vh;
    width: 70%;
    border: 1px solid;
    border-radius: 100px;
}

.disco{
    display: flex;
    height: 100%;
    width: 55%;
    border-right: 1px solid black;
    align-items: center;
    flex-direction: column;
}

.cola{
    display: flex;
    height: 100%;
    width: 45%;
    flex-direction: column;
}

.colatxt{
    display: flex;
    width: 98.5%;
    height: 15%;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5dvh;
}

.titulo{
    color: white;
    text-decoration: underline;
    font-size: 3dvh;
    margin-top: 5%;
}

.discoContainer{
    display: flex;
    margin-top: -5%;
    scale: 0.6;
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.brazo{
    display: flex;
    scale: 0.6;
    margin-left: 50%;
    margin-top: -90%;
}